.card-user {
  margin: 1rem auto 0.5rem auto;
  width: 800px;

  @media only screen and (max-width: 768px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .fullname {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
  }

  .username {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  .company,
  .location {
    margin: 0;
  }

  .website {
    margin-bottom: 1em;
  }

  a {
    display: block;
  }

  .figures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0.8;

    > div {
      @media only screen and (max-width: 768px) {
        margin: 0.5em;
      }

      svg {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: initial;
      }
    }

    span {
      font-size: 1.5em;
      margin-left: 0.25em;
      line-height: initial;
    }

    p {
      margin: 0;
    }
  }
}
