.timeline,
.contributions {
  margin: auto;
  max-width: 100%;
}

.timeline {
  height: 100px;
  width: 600px;
  margin-bottom: 1.5em;
}

.contributions {
  height: 200px;
  width: 400px;
}

.subsubtitle {
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.subtitle {
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.contributionsSubtitle {
  composes: subtitle;
  margin-bottom: 0;
}
