.contributions-chart-wrapper {
  height: 100px;
  width: 600px;
  max-width: 100%;
}

.chart-title {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0.5em;
}

.chart-subtitle {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}
