.contributions-chart-wrapper {
  height: 100px;
  width: 600px;
  max-width: 100vw;
}

.chart-title {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0;
}

.chart-subtitle {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}
