@import '~paper-dashboard-react/src/assets/scss/paper-dashboard/variables';

$radius: 0.25em;
$height: 3em;

.username {
  &-form {
    justify-content: center;

    button#search-button {
      border-radius: 0 $radius $radius 0;
      border: none;
      padding: 0 .9em;
      height: $height;
      width: $height;
      margin-left: -0.3em;
      background-color: $medium-gray;
      color: #66615b;
      align-self: baseline;
      transition: background-color .1s ease-in-out;

      &:hover {
        background-color: $table-line-color;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &-formgroup {
    height: $height;
  }
}

#username-input {
  height: inherit;
  font-size: inherit;
  padding: 1em;
  border-radius: $radius;

  &:focus {
    border-color: $medium-gray;
  }
}
