.repositories-wrapper {
  width: 600px;
  margin: auto;
  max-width: 100%;
  position: relative;

  .spinner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
}
